* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    letter-spacing: 2px;
}

section#home {
    background-image: url('https://images.unsplash.com/photo-1580519542036-c47de6196ba5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1471&q=80');
    background-size: cover;
    background-repeat: no-repeat;
}

section#about {
    background-color: red;
}

section#services {
    background-color: green;
}

section#prices {
    background-color: orange;
}

section#contact {
    background-color: gray;
}

.menuBars {
    position: fixed;
    right: 32px;
    top: 16px;
    z-index: 10;
    cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}

.overlay {
    position: fixed;
    width: 100vw;
    z-index: 9;
    transform: translateX(-100vw);
}

.overlaySlideRight {
    transition: all 0.4s ease-in-out;
    transform: translateX(0);
}

.overlaySlideLeft {
    transition: all 2s ease-in-out;
    transform: translateX(-100vw);
}

nav li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 4px;

}

nav ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    height: 100vh;
}

nav ul li {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav li:nth-of-type(1) {
    background-color: blue;

}

nav li:nth-of-type(2) {
    background-color: red;
}

nav li:nth-of-type(3) {
    background-color: green;
}

nav li:nth-of-type(4) {
    background-color: orange;
}

nav li:nth-of-type(5) {
    background-color: gray;
}

.slideIn1 {
    animation: slideIn 0.4s linear 0.2s both;
}

.slideIn2 {
    animation: slideIn 0.4s linear 0.4s both;
}

.slideIn3 {
    animation: slideIn 0.4s linear 0.6s both;
}

.slideIn4 {
    animation: slideIn 0.4s linear 0.8s both;
}

.slideIn5 {
    animation: slideIn 0.4s linear 1s both;
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }

    to {
        transform: translateX(0);
    }
}

.slideOut1 {
    animation: slideOut 0.4s linear 1s both;
}

.slideOut2 {
    animation: slideOut 0.4s linear 0.8s both;
}

.slideOut3 {
    animation: slideOut 0.4s linear 0.6s both;
}

.slideOut4 {
    animation: slideOut 0.4s linear 0.4s both;
}

.slideOut5 {
    animation: slideOut 0.4s linear 0.2s both;
}

@keyframes slideOut {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}